.reply-input-template {
  width: 100%;
}
.reply-input {
  display: grid;
  margin-bottom: 1rem;
  grid-template-areas: "avatar input button";
  grid-template-columns: min-content auto min-content;
  justify-items: center;
  gap: 1rem;
  min-height: 9rem;
}
.reply-input img {
  grid-area: avatar;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 3rem;
}
.reply-input button {
  grid-area: button;
  align-self: flex-start;
}
.reply-input textarea {
  grid-area: input;
  padding: 1rem;
  width: 100%;
  border: 1px solid var(--Light-gray);
  border-radius: 4px;
  resize: none;
}
.bu-primary {
  background-color: var(--Moderate-blue);
  color: var(--White);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}
.container {
  border-radius: 8px;
  padding: 1.5rem;
  background-color: var(--White);
}
