.AddIssue-Container {
  background: #f5f5f5;
  vertical-align: middle;

  margin-left: 30px;

  margin-top: 40px;
  width: 55%;
}
.Title {
  font-size: 30px;
}
.FilterOption {
  margin-top: 15px;
  width: 100%;
  height: 80%;
  border-radius: 15px;
  padding-left: 15px;
  border-color: #c4c4c4;
  color: gray;
  font-weight: bold;
}
.desc {
  font-size: 20px;
  margin-top: 40px;
}
.card {
  margin: auto;
  padding: 3rem 3.5rem;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mt-50 {
  margin-top: 50px;
}

.card-title {
  font-weight: 700;
  font-size: 2.5em;
}

.btn {
  display: flex;
  width: 100%;
  background-color: rgb(65, 202, 127);
  border-color: rgb(65, 202, 127);
  color: white;
  justify-content: center;
  align-content: center;
  padding: 2vh 0;
  margin-top: 3vh;
}

.issue-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 20px;
  width: 95%;
  height: 55%;
  padding-top: 5px;
  padding-bottom: 15px;
  color: black;
  padding-left: 20px;
  border-radius: 30px;
}
.card-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.FilterOption {
  font-size: 25px;
  margin-top: 15px;

  width: 100%;
  height: 80%;
  border-radius: 15px;
  padding-left: 15px;
  border-color: #c4c4c4;
  color: gray;
  font-weight: bold;
}
.IssueDesc {
  display: flex;
  font-size: 30px;
  flex-direction: column;
  margin: 20px;
  margin-left: 0px;
  margin-top: 15px;
}
.IssueHandler {
  display: flex;
  margin-top: 50px;

  font-size: 30px;
}
.desc {
  font-size: 25px;
  margin-top: 40px;
}

.IssueDesInput {
  font-size: 25px;
  height: 100px;
  margin-top: 15px;
  font-family: "Poppins";
  width: 99%;
  border-color: #c4c4c4;
  border-radius: 15px;
  padding-left: 15px;
  padding-top: 0px;
  border-style: solid;
  border-width: 2px;
  color: gray;
  font-weight: bold;
}
.IssueHandlerInput {
  font-size: 25px;

  font-family: "Poppins";
  width: 25%;
  border-color: #c4c4c4;

  padding-left: 15px;
  padding-top: 0px;
  border-style: solid;
  border-width: 2px;
  color: gray;
  font-weight: bold;
  text-align: center;
}
.IssueDateInput {
  font-size: 25px;
  width: 30%;
  border-style: solid;
  border-width: 2px;
  color: gray;
  font-weight: bold;
  font-family: "Poppins";
  border-color: #c4c4c4;
  text-align: center;
  margin-left: 10px;
}

@media (max-width: 413px) {
  .mt-50 {
    margin-right: 100px;
    width: 70px;
  }
  .AddIssue-Container {
    background: #f5f5f5;
    vertical-align: middle;
    margin-right: 450px;

    margin-top: 40px;
    width: 10%;
  }
  .AddIssue-Container {
    background: #f5f5f5;
    vertical-align: middle;

    margin-left: 30px;

    margin-top: 40px;
    width: 55%;
  }
  .Title {
    font-size: 10px;
  }
  .FilterOption {
    margin-top: 15px;
    width: 100%;
    height: 80%;
    border-radius: 15px;
    padding-left: 15px;
    border-color: #c4c4c4;
    color: gray;
    font-weight: bold;
  }
  .desc {
    font-size: 10px;
    margin-top: 40px;
  }
  .card {
    margin: auto;
    padding: 3rem 3.5rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card-title {
    font-weight: 200;
    font-size: 1em;
    font-family: bold;
  }

  .btn {
    display: flex;
    width: 40%;
    height: 20px;
    font-size: 10px;
    background-color: rgb(65, 202, 127);
    border-color: rgb(65, 202, 127);
    color: white;
    justify-content: center;
    align-content: center;
    padding: 2vh 0;
    margin-top: 3vh;
  }

  .issue-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    width: 95%;
    height: 55%;
    padding-top: 5px;
    padding-bottom: 15px;
    color: black;
    padding-left: 20px;
    border-radius: 30px;
  }
  .card-title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .FilterOption {
    font-size: 10px;
    margin-top: 15px;

    width: 100px;
    height: 80%;
    border-radius: 15px;
    padding-left: 15px;
    border-color: #c4c4c4;
    color: gray;
    font-weight: bold;
  }

  .IssueDesc {
    display: flex;
    font-size: 10px;
    flex-direction: column;
    margin: 20px;
    margin-left: 0px;
    margin-top: 15px;
  }
  .IssueHandler {
    margin-top: 10px;

    font-size: 10px;
  }
  .desc {
    font-size: 10px;
    margin-top: 40px;
  }

  .IssueDesInput {
    font-size: 10px;
    height: 30px;
    width: 100px;
    margin-top: 15px;
    font-family: "Poppins";
    border-color: #c4c4c4;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 0px;
    border-style: solid;
    border-width: 2px;
    color: gray;
    font-weight: bold;
  }
  .IssueHandlerInput {
    font-size: 10px;

    font-family: "Poppins";
    width: 50%;
    border-color: #c4c4c4;

    padding-left: 15px;
    padding-top: 0px;
    border-style: solid;
    border-width: 2px;
    color: gray;
    font-weight: bold;
    text-align: center;
  }
  .IssueDateInput {
    margin-top: 10px;
    font-size: 10px;
    height: 10px;

    border-style: solid;
    border-width: 2px;
    color: gray;
    font-weight: bold;
    font-family: "Poppins";
    border-color: #c4c4c4;
    text-align: center;
    width: 70px;
  }
  .expected {
    margin-top: 10px;
  }
}
