.ChartTitle-Container {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-top: 20px;
  width: 95%;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 15px;
}
.ChartTitle-row1 {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  align-items: center;
  justify-content: center;
}
.ChartTitle-title {
  font-size: 24px;
}
.ChartTitle-Status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.ChartTitle-icon {
  color: #007d50;
  font-size: 30px;
}
