.Polls-content {
  display: flex;
  margin-top: 100px;
  margin-left: 260px;
  margin-right: 368px;
  height: 100%;
  align-items: flex-start;
  background-color: #f5f5f5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addPolls {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}
.addPolls button {
  border: none;
  background-color: transparent;
}
.addPolls button:hover {
  cursor: pointer;
}
.addPolls svg {
  font-size: 30px;
  margin-right: 15px;
  margin-top: 10px;
  color: gray;
}

@media (max-width: 610px) {
  .Polls-content {
    margin: 0;
    margin-top: 0;
  }
  .addPolls {
    display: flex;
    width: 100%;
    margin: 0;
    margin-top: 45px;
  }
  .addPolls svg {
    margin-right: 0px;
  }
}
