.RightSide-container {
  position: fixed;
  background-color: white;
  width: 360px;
  height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.RightSide-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  color: #034b5e;
  font-weight: 700;
  font-size: 20px;
}
.row {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 35px;
  font-size: 18px;
}
.sec1 {
  flex: 1;
  margin-left: 4px;
}
.sec1 p {
  color: gray;
}

@media (max-width: 768px) {
  .RightSide-container {
    display: none;
  }
}
