.IssuesCard-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  color: #919499;
  border-radius: 30px;
}
.IssuesCard-container:hover {
  scale: 1.03;
}
.IssuesCard-row1 {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  align-items: center;
}
.IssuesCard-title {
  color: #0b677e;

  font-weight: bold;
  font-size: 24px;
}
.UnPaidBillCard-Status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.UnPaidBillCard-icon {
  color: #007d50;
  font-size: 30px;
}
.IssuesCard-desc {
  display: flex;
  flex: 3;
  font-size: 25px;
  margin-left: 20%;
  justify-content: center;
  color: #0b677e;
}
.IssuesCard-row2 {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  align-items: center;
  margin-top: 20px;
  flex: 2;
}
.IssuesCarddate-icon {
  font-size: 30px;
}
.IssuesCard-date {
  flex: 2;
  font-size: 20px;
  color: #0b677e;
}
.IssuesCard-Button {
  flex: 3;
  display: flex;
  background-color: #077e71;
  color: white;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  height: 45px;
  font-family: Work Sans;
}
.IssuesCard-Button:hover {
  cursor: pointer;
}
.IssuesCard-Arrow {
  margin-left: 8px;
}

@media (max-width: 768px) {
  .IssuesCard-container {
    width: 90%;
    height: 18%;
    margin-left: 0;
    padding-top: 0;
    padding: 5px;
    border-radius: 15px;
    font-size: 10px;
  }

  .IssuesCard-Button {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
    height: 20px;
  }

  .IssuesCard-desc {
    font-size: 10px;
  }
  .IssuesCard-date {
    font-size: 10px;
  }
  .IssuesCard-title {
    font-size: 12px;
  }
}
