.ProfileCard-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-top: 20px;
  width: 95%;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 15px;
  justify-content: center;
}
.CardLeftSide {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.CardRightside {
  display: flex;
  flex: 3;
}
.CardLeftSide p {
  color: #298097;
  font-size: 26px;
  font-weight: 700;
}
.CardLeftSide span {
  color: gray;
  font-size: 22px;
  font-weight: 700;
}
.pofile-pic {
  width: 70px;
  height: 70px;
  border-radius: 305px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.CardRightside {
  display: flex;
  flex-direction: column;
}
.ProfileCard-row {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 18px;
}
.ProfileCard-sec1 {
  flex: 1;
  margin-left: 4px;
}
.ProfileCard-sec1 p {
  color: gray;
}

@media (max-width: 270px) {
  .ProfileCard-container {
    margin-top: 20px;
    padding-top: 20px;
  }
  .CardRightside {
    margin-top: 25px;
  }
  .CardLeftSide P {
    font-size: 14px;
  }
  .CardLeftSide span {
    font-size: 14px;
  }
}
