.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 20px;
  width: 95%;
  height: 95%;
  padding-top: 5px;
  padding-bottom: 15px;
  color: black;
  padding-left: 20px;
  border-radius: 30px;
}

.chatfeed-wrapper {
  border-radius: 4px;
  height: 960px;

  padding-bottom: 20px;
}

#chat-panel {
  padding: 0px 0px;
  min-height: 900px;
}

.chat-history {
  display: block;
  min-height: 860px;
}

.outer {
  display: block;
  overflow-y: scroll;
  position: relative;
}

.inner {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
.typeMessage {
  text-align: center;
  margin-bottom: 5px;
}

#messageType {
  margin-bottom: 5px;
  width: 1000px;
  height: 40px;
  border-radius: 15px;
  border-width: 3px;
  font-family: Work Sans;
  font-size: 30px;
  margin: 0 auto;
}

.sendBtn {
  text-align: center;
}

#send {
  background-color: #0b677e;
  color: white;
  border-radius: 15px;
  border-width: 3px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 30px;
  height: 42px;
  font-family: Work Sans;
}
