
  
  .container {
   width: 500px;
    margin: 0 auto;
    margin-top: 100px;

  }

  .chatfeed-wrapper {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
   
    margin: 0 auto;
    border: 1px solid #ddd;
    padding-bottom: 20px;
  }
  
  #chat-panel {
    padding: 0px 10px;
  }
  
  .chat-history {
    display: block;
    min-height: 250px;
    
  }
  
  .outer {
    display: block;

    overflow-y: scroll;
    position: relative;
    
  }
  
  .inner {
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  #messageType
  {
    margin-bottom: 5px;
    width:475px;
    height: 40px;
    border-radius: 15px;
    border-width: 3px;
    font-family: Work Sans;
    font-size: 30px;
  }

  .sendBtn
  {
  
    text-align: center
  }

  #send
  {
    background-color: #0b677e;
    color: white;
    border-radius: 15px;
    border-width: 3px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 30px;
    height: 42px;
    font-family: Work Sans;
    
  }

