.poll {
  width: 45%;
  height: 160px;
  padding: 1.5rem;
  margin: 50px;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: white;
}

.poll__title {
  display: flex;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  flex-direction: row;
  justify-content: space-between;
}

.poll__option:hover {
  cursor: pointer;
}

.poll__option:not(:last-child) {
  margin-bottom: 0.7rem;
}

.poll__option-fill {
  width: 40%;
  height: 10px;
}

.poll__option-info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 1rem;
}
