.BillTable-container {
  font-family: Mukta, sans-serif;
  display: grid;

  color: gray;
  font-size: 0.9rem;
  background-color: white;
  margin-top: 20px;
  width: 95%;
  height: 95%;
}
table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
  text-align: left;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
table thead {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}
td {
  padding: 1rem 2rem;
}
a {
  text-decoration: none;
  color: #2962ff;
}
.status {
  border-radius: 0.2rem;
  background-color: red;
  padding: 0.2rem 1rem;
  text-align: center;
  width: 30%;
}
.status-pending {
  background-color: #fff0c2;
  color: #a68b00;
}
.status-paid {
  background-color: #c8e6c9;
  color: #388e3c;
}
.status-unpaid {
  background-color: #ffcdd2;
  color: #c62828;
}
.amount {
  text-align: right;
}
tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}
