.leftSide-container {
  width: 250px;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  z-index: 100;
  padding-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.leftSide-container :hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.leftSide-container svg:hover {
  box-shadow: none;
}
.leftSide-container .sidebar-link div:hover {
  box-shadow: none;
}
.leftSide-logo {
  display: flex;
  justify-content: center;
  box-shadow: none;
}
.leftSide-logo:hover {
  box-shadow: none;
}
.leftSide-logo img {
  width: 150px;
  height: 100px;
  margin-top: 0px;
  box-shadow: none;
}
.leftSide-logo img:hover {
  box-shadow: none;
}
.sidebar-link {
  height: 55px;
  display: flex;
  margin-left: 10px;
  flex-direction: row;
  align-items: flex-start;
}
.sidebar-link:hover {
  cursor: pointer;
}
.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 18px;
  margin-left: 10px;
  color: gray;
}
.sidebar-link svg {
  color: gray;
  font-size: "40px";
}
.leftside-HR {
  display: flex;
  width: 80%;
  height: 1px;
  color: gray;
  opacity: 0.3;
  background-color: gray;
  margin-left: 0px;
  align-items: center;
}
.leftside-font {
  font-family: Roboto, Arial;
  font-size: 15px;
  color: #034b5e;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

@media (max-width: 412px) {
  .leftSide-container {
    display: none;
  }
}
