.modalBackground {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}
.modalContainer .title input {
  font-size: 1.7rem;
  width: 90%;
  text-align: center;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  border-radius: 10px;
}
.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}
.modalContainer .body input {
  font-size: 1.7rem;
  padding-left: 10px;
  margin-top: 25px;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  border-radius: 10px;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}

.close-viewer {
  direction: rtl;
  margin: 10px;
  .close-button {
    color: #7a869a;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .close-button:hover {
    color: black;
    transform: rotate(90deg);
  }
}

@media (max-width: 768px) {
  .modalContainer {
    width: 300px;
    height: 300px;
  }

  .modalContainer .body input {
    font-size: 1.2rem;
  }

  .modalContainer .title input {
    font-size: 1.2rem;
  }

  .modalContainer .footer button {
    width: 120px;
    height: 35px;
  }
}
