.Navbar-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 267px;
  right: 375px;
  background-color: #f5f5f5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  padding-top: 8px;
}
.navbar-leftSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 15px;
  color: gray;
  font-size: 18px;
}
.navbar-leftSection p {
  font-size: 22px;
  color: #034b5e;
  font-weight: 700;
}
.navbar-rightSection {
  display: flex;
  flex: 2;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
}
.search-container {
  display: flex;
  position: relative;
  align-items: center;
  border: 0.5px solid lightgray;
  border-radius: 15px;
  margin-left: 25px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  height: 40%;
  background-color: white;
}
.search-input {
  border: none;
  font-size: 18px;
  padding: 6px;
}
.search-input:hover {
  border: none;
}

.navbar-notification {
  position: relative;
  margin-left: 10px;
}
.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
.notification-icon {
  font-size: 30px;
}
.search-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-container:hover .tooltip {
  opacity: 1;
}
