.Chart-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 20px;
  width: 95%;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 15px;
  justify-content: flex-start;
  align-items: flex-start;
}
.BillFilter {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
  width: 100%;
}
.billType {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.options {
  padding: 10px;
  padding-left: 0;
  font-size: 18px;
}
.from {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
.to {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

h1 {
  margin-left: 15px;
}
.water {
  color: #0b677e;
}

.elec {
  color: #0b677e;
}

label {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

#calc,
#pred {
  background-color: #488d9f;
  color: white;
  border: none;
  border-radius: 15px;

  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 18px;
  height: 42px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Work Sans;
}

h2 {
  color: #347ae2;
  font-weight: bold;
  margin-left: 10px;
}
.predict {
  margin-top: 50px;
}
.elec {
  color: #ff9500;
  font-weight: bold;
  margin-left: 10px;
}
.monthChoose {
  margin-left: 15px;
}
.charts {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 768px) {
  #pred {
    background-color: #488d9f;
    color: white;
    border: none;
    border-radius: 15px;

    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 8px;

    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Work Sans;
  }
  #calc {
    background-color: #488d9f;
    color: white;
    border: none;
    border-radius: 15px;

    align-items: center;
    justify-content: center;
    margin-left: 0px;
    font-size: 8px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Work Sans;
  }

  #to,
  #from {
    width: 85px;
  }
  .from,
  .to {
    margin-left: 0px;
  }

  .opt {
    width: 50px;
  }
}
